.navbar-red {
    background-color:#E53C33;
    color:#ffffff;
    border-radius:0;
}

.navbar-red .navbar-nav > li > a {
    color:#fff;
}
.navbar-red .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-red .navbar-brand {
    color:#eeeeee;
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}

.popover.bottom .arrow:after {
  border-bottom-color: #E53C33;
}

.popover-title{
    background: #E53C33;
}

td {
	padding : 2px;
}

.my-modal-header{
	background-color: #E53C33 !important;
	color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.username {
	padding-top: 15px;
    padding-right: 22px;
}

.forgetPassword  {   
	
	font-size: 12;
    float: right;
    vertical-align: bottom;
    padding-top: 13px;
    color : blue;
}

.close-btn {
	opacity : 0.9 !important;
	color:white !important;
}