<div id="forgot">
	<form name="forgetPass">
		<div class="modal-header my-modal-header">
			<button type="button" class="close close-btn" ng-click="close()" ng-click="forgotPassword()">&times;</button>
			<h4 class="modal-title">Forgot Password</h4>
		</div>
		<div class="modal-body" style="height: 205px;">
			<div class="well" style="margin: 2px; height: 170px">

				<div ng-show="resetValue">
					<div>
						<label class="control-label col-sm-4" for="usernm">User
							Name:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="usernm" ng-readonly="usernameVisibility" id="usernm" ng-required='true' ng-model='usernm' ng-blur="checkUserName()"
								placeholder="Enter User Name"> <span style="color: red">
								<span ng-show="isUserNameBlank">User name is required.</span> <span
								ng-show="isUserNameIncorrect">Incorrect User Name</span>
							</span>
						</div>
					</div>
					<Br>
					<Br>
					<br>
					<div ng-show="isSeqQVisible">
						<label class="control-label col-sm-4" for="seqQ">Security
							Question:</label> <label class="control-label col-sm-8" for="seqQ">{{securityQuestion}}</label>
					</div>
					<div ng-show="isSeqQVisible">
						<label class="control-label col-sm-4" for="seqA">Answer:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="seqA" id="seqA"
								ng-required='true' ng-model='seqA' placeholder="Security answer">
							<span style="color: red"> <span
								ng-show="forgetPass.seqA.$dirty && forgetPass.seqA.$invalid">Please
									enter answer</span> <span ng-show="seqANotMatched">Security
									Answer not matched</span>
							</span>
						</div>
					</div>
					<div class="form-group" ng-show="isSeqQVisible">
						<div class="col-sm-offset-2 col-sm-6">
						</div>
					</div>
				</div>
				<div ng-show="!resetValue">
					<div>
						<label class="control-label col-sm-4" for="pass">New
							Password</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="pass" id="pass"
								ng-required='true' ng-model='pass'
								placeholder="Enter New Password"> <span
								style="color: red"> <span
								ng-show="forgetPass.pass.$dirty && forgetPass.pass.$invalid">Please
									enter New Password</span>
							</span>
						</div>
					</div>
					<br>
					<br>
					<div>
						<label class="control-label col-sm-4" for="retypePass">Confirm
							Password</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="retypePass"
								id="retypePass" ng-required='true' ng-model='retypePass'
								placeholder="Confirm Password"> <span style="color: red">
								<span ng-show="forgetPass.pass.$dirty && forgetPass.retypePass.$dirty && retypePass != pass  ">Confirmed password does not match</span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-6"></div>
					</div>
				</div>

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" ng-show="isSeqQVisible && resetValue"	ng-disabled="seqA=='' || seqA== null || seqA== undefined"	ng-click="reset()">Reset</button>
			<button type="button" class="btn btn-danger" ng-show="!resetValue"	ng-disabled="retypePass != pass" ng-click="submit()">Submit</button>
			<button type="button" class="btn btn-default" ng-click="close()">Close</button>
		</div>
	</form>
</div>