<div class="wrapper" style="width: 248px"	ng-controller='loginController'>
	<div class="panel panel-default r-3x search-filters">
		<form name='loginForm'>
			<div class="panel-body">
				<table>
					<tr>
						<td>User Name</td>
					</tr>
					<tr>
						<td><input class="form-control" type="text" name="usernm" ng-required="true" 
							ng-model='usernm' />
							<span style="color:red" ng-show="loginForm.usernm.$dirty && loginForm.usernm.$invalid">
							<span ng-show="loginForm.usernm.$error.required">Username is required.</span></span>
							
						</td>
					</tr>
					<tr>
						<td>Password</td>
					</tr>
					<tr>
						<td><input class="form-control" type="password" name="pass" ng-required="true"
							ng-model='pass' />
							<span style="color:red" ng-show="loginForm.pass.$dirty && loginForm.pass.$invalid">
							<span ng-show="loginForm.pass.$error.required">Password is required.</span></span>
						</td>
					</tr>
					<tr>
						<td><button ng-disabled="loginForm.$invalid" class="btn btn-danger" ng-click=login()>Login</button>
						<a href="#" class="forgetPassword" data-toggle="modal" data-target="#myModal"> Forgot Password ?
						</a></td>
					</tr>
					<tr>
						<td><hr /></td>
					</tr>
					<tr>
						<td><button class="btn btn-primary" >
								Login With <i class="fa fa-facebook-square " aria-hidden="true"></i>
							</button></td>
					</tr>
				</table>
			</div>
		</form>
	</div>	
	
</div>

