<nav class="navbar navbar-red">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">100 Years Of SSU</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">History</a></li>
			<li><a href="#">Activity</a></li>
			<li><a href="#">Photo Gallery</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#/signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a  uib-popover popover-trigger="mouseenter" popover-placement="bottom" uib-popover-template="'view/login/login.html'" popover-title="Members Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</nav>