<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	  <li data-target="#myCarousel" data-slide-to="1"></li>
	  <li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	  <div class="item active">
		<img src="image/cricket.jpg" alt="New York" width="100%" style="height:300px">
		<div class="carousel-caption">
		  <h3>Cricket</h3>
		  <p>Enjoy Cricket.</p>
		</div>      
	  </div>
	  <div class="item">
		<img src="image/1403180878phphrCbQt.jpeg" alt="Chicago" width="100%" style="height:300px">
		<div class="carousel-caption">
		  <h3>Foot Ball</h3>
		  <p>Thank you, Football.</p>
		</div>      
	  </div>
	  <div class="item">
		<img src="image/KJM.jpg" alt="Los Angeles" width="100%" style="height:300px">
		<div class="carousel-caption">
		  <h3>Table Tennis</h3>
		  <p>Table Tennis</p>
		</div>      
	  </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<h3>Column 1</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris...</p>
	</div>
	<div class="col-sm-4">
		<h3>Column 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris...</p>
	</div>
	<div class="col-sm-4">
		<h3>Column 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris...</p>
	</div>
</div>

<footer class="navbar-fixed-bottom text-center">
	<p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Copyright. SSU. Developed By : Runa Dhar, Joydev Das</p>
</footer>

<!-- Modal -->
 <form name = "forgetPass">
  <div class="modal fade" id="myModal" role="dialog" ng-controller='forgotPasswordController'>
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header my-modal-header">
          <button type="button" class="close close-btn" data-dismiss="modal" ng-click="forgotPassword()">&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body" style="height: 205px;">
         <div class="well" style="margin:2px; height:170px">
       
			       <div ng-show= "resetValue">
			        <div >
					    <label class="control-label col-sm-4" for="usernm">User Name:</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" name="usernm" ng-readonly="usernameVisibility" id="usernm" ng-required = 'true' ng-model='usernm' ng-blur="checkUserName()" placeholder="Enter User Name">
					    	<span style="color:red" >
							<span ng-show="isUserNameBlank">User name is required.</span>
							<span ng-show="isUserNameIncorrect">Incorrect User Name</span>
							</span>
					    </div>
					</div>
					<Br><Br><br>
					  <div  ng-show="isSeqQVisible">
					  	<label class="control-label col-sm-4" for="seqQ">Security Question:</label>
					    <label class="control-label col-sm-8" for="seqQ">{{securityQuestion}}</label>					    
					  </div>        		
			  		 <div ng-show="isSeqQVisible">
					    <label class="control-label col-sm-4" for="seqA">Answer:</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" name="seqA" id="seqA" ng-required = 'true' ng-model='seqA' placeholder="Security answer">
					    	<span style="color:red" >
							<span ng-show="forgetPass.seqA.$dirty && forgetPass.seqA.$invalid">Please enter answer</span>
							<span ng-show="seqANotMatched">Security Answer not matched</span>
							</span>
					    </div>
					</div>
					<div class="form-group" ng-show="isSeqQVisible"> 
   						 <div class="col-sm-offset-2 col-sm-6">
    						  <!-- <button type="button" class="btn btn-danger" ng-disabled="forgetPass.seqA.$dirty && forgetPass.seqA.$invalid" ng-click="reset()">Reset</button> -->
   						 </div>
  					</div>
       			</div>
       			<div ng-show = "!resetValue">
      				<div>
				    	<label class="control-label col-sm-4" for="pass">New Password</label>
				    	<div class="col-sm-8">
				      		<input type="text" class="form-control" name="pass" id="pass" ng-required = 'true' ng-model='pass' placeholder="Enter New Password">
				    		<span style="color:red" >
							<span ng-show="forgetPass.pass.$dirty && forgetPass.pass.$invalid">Please enter New Password</span>
							</span>
				   	    </div>
				   </div>
				   <br><br>
				   <div>
				    	<label class="control-label col-sm-4" for="retypePass">Confirm Password</label>
				    	<div class="col-sm-8">
				      		<input type="text" class="form-control" name="retypePass" id="retypePass" ng-required = 'true' ng-model='retypePass' placeholder="Confirm Password">
				    		<span style="color:red" >
							
							<span ng-show="forgetPass.pass.$dirty && forgetPass.retypePass.$dirty && retypePass != pass  ">Confirmed paassword does not match</span>
							</span>
				   	    </div>
				   </div>
				   <div class="form-group" > 
   						 <div class="col-sm-offset-2 col-sm-6">
    						  
   						 </div>
  					</div>
       			</div>
        
       </div> 
      </div>
      <div class="modal-footer">
     	  <button type="button" class="btn btn-danger" ng-show = "isSeqQVisible && resetValue" ng-disabled="seqA=='' || seqA== null || seqA== undefined" ng-click="reset()">Reset</button>
      	  <button type="button" class="btn btn-danger" ng-show = "!resetValue" ng-disabled="retypePass != pass" ng-click="submit()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</form>