<div id="myForm" class="hide">
    <form action="/echo/html/" id="popForm" method="get">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control input-md">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control input-md">
            <button type="button" class="btn btn-primary" data-loading-text="Sending info.."><em class="icon-ok"></em> Save</button>
        </div>
    </form>
</div>
<div id="result"></div>
